.id1 {
    display: block;  /* Ensures it doesn't behave like inline text */
    width: 100%;     /* Adjusts to container */
    height: auto;

}
nav{
    box-sizing: 3px 3px 5px rgba(0,0,0,0.1);
    background-color: white;
}
nav ul{
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height:50px;
}
nav a{
    height:100%;
    padding:0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transition: .3s;

}
nav a:hover,
nav a.active{
    background-color: blanchedalmond;

}